{% extends "base.html" %}
{% block title %}Nueva Evaluación{% endblock %}

{% block content %}

<h1 class="title">Registrar Evaluación</h1>

<form method="post" class="box">

    <div class="field">
        <label class="label">Fecha</label>
        <input class="input" type="date" name="fecha" required>
    </div>

    <div class="field">
        <label class="label">Estado emocional</label>
        <input class="input" type="text" name="estado_emocional" required>
    </div>

    <div class="field">
        <label class="label">Rendimiento</label>
        <input class="input" type="text" name="rendimiento" required>
    </div>

    <div class="field">
        <label class="label">Comentarios</label>
        <textarea class="textarea" name="comentarios"></textarea>
    </div>

    <div class="field">
        <label class="label">ID Deportista</label>
        <input class="input" type="number" name="deportista_id" required>
    </div>

    <div class="field">
        <label class="label">ID Entrenador</label>
        <input class="input" type="number" name="entrenador_id" required>
    </div>

    <button class="button is-success">Guardar Evaluación</button>

</form>

{% endblock %}
