{% extends "base.html" %}
{% block title %}Nuevo Entrenador{% endblock %}

{% block content %}

<h1 class="title">Registrar entrenador</h1>
<p class="subtitle">Ingresa los datos del entrenador.</p>

<form method="post" action="/entrenadores/nuevo" class="box">

  <div class="field">
    <label class="label">Nombre</label>
    <div class="control">
      <input class="input" type="text" name="nombre" placeholder="Nombre completo" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Especialidad</label>
    <div class="control">
      <input class="input" type="text" name="especialidad" placeholder="Ej: fuerza, resistencia..." required>
    </div>
  </div>

  <div class="field">
    <label class="label">Años de experiencia</label>
    <div class="control">
      <input class="input" type="number" name="experiencia" min="0" placeholder="Ej: 3" required>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-primary">Guardar entrenador</button>
    </div>
  </div>

</form>

{% endblock %}


